streamlit
fastapi
uvicorn
pymongo
google-generativeai
google-api-python-client
google-auth-oauthlib
google-auth-httplib2
haystack-ai
google-ai-haystack
sentence-transformers
python-dotenv
pydantic-settings
pypdf
pytest
mongomock
duckduckgo-search
fpdf2
cachetools
markdown
requests
