haystack-ai>=2.0.0
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
python-dotenv
streamlit
google-generativeai
markdown
PyPDF2
google-ai-haystack
sentence-transformers
pypdf
pandas
openpyxl
tabulate
